{% extends "master.html" %}
{% load static %}
{% block content %}

    <form action="/pass/" method="POST" class="form-group" style="width: 400px;">
        {% csrf_token %}
        <div class="form-group" >
            <input type="text" id="old" class="form-control" name="cpass" placeholder="current password">
        </div>
        <div  class="form-group">
            <input class="form-control" type="password" id="np" name="npass" placeholder="new password">
        </div>
        <div  class="form-group">
            <input class="form-control" type="password" id="cp" name="cnpass" placeholder="confirm password">
        </div>
        
        
        <div  class="form-group">
            <button type="submit " class="btn btn-danger form-inline" onclick="equal()">edit</button>
        </div >
        
        <!-- <button type="submit ">cancel</button> -->
        <div class="form-group" style="color: green;">
            {{msg1}}
        </div>
    </form>


    <script>
           function equal(){
            
            newpass=document.getElementById("np").value
            confirmpass=document.getElementById("cp").value
            if(newpass==confirmpass){
                
                console.log("passwords are same")
            }
            else{
                
                alert("password does not match")
            }

           } 
            


           
              
    </script>
{% endblock %}